[submodule "lib/prompt.rs"]
	path = lib/prompt.rs
	url = https://github.com/KoffeinFlummi/prompt.rs
[submodule "lib/i3status-rust"]
	path = lib/i3status-rust
	url = https://github.com/jonpas/i3status-rust
	branch = jonpas
